<div class="flex justify-center items-center py-16">
  <div class="w-full max-w-md mx-4 bg-gray-50 dark:bg-gray-900 rounded-lg shadow-lg">
    <div class="px-6 py-8 sm:px-8">
      <div class="text-center">
        <h1 class="font-hairline mb-6 text-center text-gray-900 dark:text-white">Resend Confirmation Instructions</h1>
      </div>
    

    <%= form_for(resource,
                 as: resource_name,
                 url: confirmation_path(resource_name),
                 html: {
                         method: :post,
                         class: "bg-white dark:bg-gray-800 mb-4 px-8 pt-6 pb-8 rounded shadow-md"
                 }) do |f| %>

        <%#= render "devise/shared/error_messages", resource: resource %>
        <%= devise_error_messages! %>

        <div class="mb-4">
            <%= f.label :email, class: "block font-bold mb-2 text-gray-700 dark:text-gray-300 text-sm" %>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                              class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600 leading-tight focus:outline-none shadow focus:shadow-outline"
            %>
        </div>

        <div class="mb-4">
            <%= f.submit "Resend Confirmation Info",
                         class: "button bg-blue-500 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-800 font-bold text-white focus:outline-none py-2 px-4 rounded focus:shadow-outline w-full"
            %>
        </div>

        <%= render "devise/shared/links" %>
    <% end %>

    <%= render "devise/shared/form_footer" %>
</div>
</div>
</div>